{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
            Hi there! I’m Soham Bhowmick, a passionate Computer Science student
            currently pursuing my Bachelor’s degree at San Jose State University.
            I have a deep love for technology, problem-solving, and innovation,
            and I thrive on turning complex ideas into functional, user-friendly solutions.
        </p>
        <p>
            As an international student from India, I’ve always been curious about how technology shapes
            our world. My journey started with exploring programming languages like C++, Python, and Java
            in high school, where I built my first small-scale apps. This curiosity turned into a full-fledged
            passion as I advanced to work on web development, machine learning, and software engineering projects
            during my academic career.
            From building a social media app using advanced data structures and algorithms to creating a
            machine-learning model that translates hand gestures into text, I have always loved applying technical
            knowledge to solve real-world challenges. Recently, I’ve explored tools like React.js, ModelSim, and machine
            learning libraries such as TensorFlow and scikit-learn, solidifying my expertise in both front-end and back-end
            development.
        </p>
        <p>
            I created this blog to document my learning journey, share solutions, and connect with other tech enthusiasts
            like you. Whether you’re a fellow student, developer, or someone curious about technology, I hope this blog
            provides value through detailed tutorials, project breakdowns, and personal insights.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
